.TopBorder {
    background-color: rgb(77,77,77);
    color: white;
    text-align: center;
    font-size: 30pt;
    font-family: Arial;
    font-weight: bold;
}

.mainContent {
}

.logo {
    width: 96px;
    height: 86px;
}

.reportIssueLink {
    color: white;
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.BCITSALogo{
    width:200px;
}

a {
    color: blue;
}

.copyright, .privacy{
    text-align: center;
}


.elementTitle {
    color: blue;
    font-weight: bold;
}

.whiteLink {
    color: white;
}

img {
    width: 100%;
}

.col {
    border-style: solid;
    border-width: 1px;
}

.centerText {
    text-align: center;
}
