.TopBorder {
    background-color: rgb(77,77,77);
    color: white;
    text-align: center;
    font-size: 30pt;
    font-family: Arial;
    font-weight: bold;
}

.mainContent {
    border-style: solid;
}

.footer {
    background-color: rgb(77,77,77);
    position: absolute;
    bottom: -0px;
    height: 50px;
    left: 0px;
    right: 0px;
}

.logo {
    width: 96px;
    height: 86px;
}

.reportIssueLink {
    color: white;
    text-align: right;
}

.underline {
    text-decoration: underline;
}

a {
    color: white;
}

.copyright, .privacy{
    text-align: center;
}

.smalltext{
    font-size: 12px;
}

img.noresize1{
    width: 137px;
    height: 44px;
}

img.noresize2{
    width: 154px;
    height: 93px;
}

a.others{
    color:blue;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
}
#myFooter {
  position: absolute;
  bottom: 0;
  height: 50px;
}

